body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #edf7f8;
}

.main-content {
  flex: 1; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 20px;
}

.quiz-container {
  background-color: #bcd5c6d6;
  border-radius: 10px; 
  padding: 20px;
  max-width: 600px; 
  width: 100%;
}

.quiz-content {
  text-align: center;
}

.quiz-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.start-button,
.answer-button,
.next-button {
  background-color: #072e3db3; 
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block; 
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px; 
}

.answer-button {
  margin-top: 10px;
}

.next-button {
  margin-top: 20px;
}

.feedback {
  margin-top: 20px;
  text-align: center;
}

.quiz-question {
  font-size: 20px;
  margin-bottom: 20px;
}

.quiz-completion {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.answer-button {
  display: block;
  width: 100%;
}


.answer-button.correct {
  background-color: #118d6e;
}

.answer-button.incorrect {
  background-color: #bd5038;
}


@media (max-width: 768px) {
  .quiz-title {
    font-size: 20px;
  }

  .start-button,
  .answer-button,
  .next-button {
    font-size: 14px;
  }

  .quiz-question {
    font-size: 18px;
  }
}
