@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
}



body {
  color: #113049;
  background-color: #edf7f8;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

.care-photo {
  width: 350px;
  border-radius: 0 50px 50px 50px;
  float: right;
  margin: 0 0 30px 30px;
}

h3 {
  font-size: 24px;
  margin-top: 36px;
  color: #113049;
}

